* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: 500px;
    background: #59e292;
}

div ul {
    list-style: none;

}

div ul li {
    display: inline-block;
    margin-right: 20px;
}

div ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}